extends layouts/head.pug

block script
  script(src="./scripts/camera-v2.js" defer type="module")

block main 
  section#camera
    form#barcode(method="POST" action="/camera")
      video(autoplay)
      input#code(type="text" name="barcode")
      button#scan(type="submit" form="barcode") Scan de barcode