@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --primary-color: rgb(82, 143, 82);
  --secondary-color: rgb(78, 11, 11);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

header {
  width: 100%;
  height: 10vh;
  background-color: var(--primary-color);
  position: relative;
  top: 0;
  color: white;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 1rem 0;
}

main {
  margin: 0 auto;
}

#initial{
  text-align: center;
  background-color: var(--primary-color);
  padding: 80% 0 ;
  overflow: scroll;
}

#nojs {
  text-align: center;
  background-color: var(--primary-color);
  padding: 75% 0 ;
}

#nojs p{
  color: white;
  font-size: 1.3rem;
  margin: 1em;
}
#initial a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#product img {
  width: 90%;
  height: auto;
  border-radius: 5%;
  padding-top: .5em;
}

#product > img, h2, p {
  margin-left: 1rem;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form video {
  width: 80%;
  margin: auto;
  padding-top: 50%;
}

form #search {
  border-radius: 100%;
  border-style: none;
  height: 4em;
  width: 4em;
  background-color: var(--primary-color)
}

footer {
  height: 8vh;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

footer a {
  border-radius: 50%;
  height: 7em;
  width: 7em;
  position: relative;
  top: -3em;
  background-color: var(--primary-color);
  border-style: none;
  color: white;
  display: grid;
  place-items: center;
}